* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 99px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headCon .logo {
  width: 12%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headCon .logo img {
  width: 100%;
}
.header .headCon .language {
  width: 30%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headCon .language .call_fast {
  width: 30%;
  height: 24px;
  border-right: 1px solid #ecedf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headCon .language .call_fast a img {
  width: 70%;
}
.header .headCon .language .choose_language {
  width: 60%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s all ease-in-out;
  padding: 10px 10px;
}
.header .headCon .language .choose_language:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .headCon .language .choose_language .flag {
  width: 16%;
  height: 24px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headCon .language .choose_language .flag img {
  width: 100%;
}
.header .headCon .language .choose_language p {
  color: #212529;
  font-size: 15px;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  line-height: 1.5;
  margin-right: 12px;
  position: relative;
}
.header .headCon .language .choose_language p .fa-angle-down {
  position: relative;
  top: 2px;
  left: 6px;
}
.header .headCon .language .choose_language .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #e1e2e7;
  width: 89%;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s all ease-in-out;
  margin-top: 80px;
  right: 17px;
}
.header .headCon .language .choose_language .dropdown-content p {
  color: #212529;
  font-size: 15px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
}

.login {
  width: 100%;
  height: 722px;
  display: flex;
  position: relative;
}
.login .loginImg {
  width: 40%;
  height: 722px;
  background: url(https://irshad.az/resized/resize672/center/pages/200/kabinet-cover.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.login .login_box {
  width: 60%;
  height: 722px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login_box .form {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.login .login_box .form a {
  font-family: "Rokkitt", serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  color: #5b5f66;
  transition: 0.3s all ease-in-out;
}
.login .login_box .form a:hover {
  color: #18181a;
}
.login .login_box .form a .fa-arrow-left-long {
  margin-right: 8px;
  color: #f6861f;
}
.login .login_box .form h3 {
  width: 100%;
  height: 20px;
  font-family: "Rokkitt", serif;
  color: #000000;
  font-weight: 700;
  line-height: 1.5;
  font-size: 36px;
}
.login .login_box .form form {
  width: 100%;
  height: 310px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.login .login_box .form form label {
  font-size: 16px;
  font-family: "Rokkitt", serif;
  line-height: 1.2;
  font-weight: 500;
  color: #95979c;
}
.login .login_box .form form input {
  width: 98%;
  height: 52px;
  outline: none;
  border: 1px solid #dadbdd;
  border-radius: 0.6rem;
  padding: 14px 20px;
  margin-top: 10px;
}
.login .login_box .form form .color {
  border-color: red;
}
.login .login_box .form form .content {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  font-weight: 600;
  color: red;
  line-height: 1.2;
  position: relative;
  left: 3px;
}
.login .login_box .form form button {
  width: 99%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background: #40b659;
  border: 1px solid #40b659;
  border-radius: 6px;
  color: #fff;
  font-family: "Rokkitt", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.login .login_box .form form button:hover {
  background: #fff;
  color: #40b659;
}/*# sourceMappingURL=forget.css.map */