@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 320px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  visibility: hidden;
}
.content .pay_text {
  width: 88%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .pay_text h4 {
  font-family: "Rokkitt", serif;
  font-size: 20px;
  color: #18181a;
  line-height: 1.5;
  font-weight: 600;
}
.content .pay_text .pay_icon {
  width: 56px;
  height: 56px;
  border: 1px solid #e1e2e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content .pay_box {
  width: 88%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.content .pay_box .pay_image {
  width: 30%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content .pay_box .pay_image img {
  width: 100%;
}

.header {
  width: 100%;
  height: 184px;
}
.header .header_up {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #ecedf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_up .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_up .up .list {
  width: 55%;
  height: 30px;
}
.header .header_up .up .list ul {
  display: flex;
}
.header .header_up .up .list ul li {
  margin-left: 15px;
}
.header .header_up .up .list ul li .tagLineUner {
  color: #5b5f66;
  font-family: "Rokkitt", serif;
  font-size: 15px;
  line-height: 2rem;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.header .header_up .up .list ul li .tagLineUner::after {
  content: "";
  position: absolute;
  background: #f6861f;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s all ease-in-out;
}
.header .header_up .up .list ul li .tagLineUner:hover::after {
  width: 100%;
}
.header .header_up .up .list ul .condisioner {
  width: 94px;
  height: 30px;
  border: 1px solid #f6861f;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in-out;
}
.header .header_up .up .list ul .condisioner:hover {
  background: #f6861f;
}
.header .header_up .up .list ul .condisioner:hover a {
  color: white;
}
.header .header_up .up .list ul .condisioner a {
  color: #f6861f;
  font-family: "Rokkitt", serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
  cursor: pointer;
}
.header .header_up .up .list ul .velo {
  width: 94px;
  height: 30px;
  border: 1px solid #f6861f;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in-out;
}
.header .header_up .up .list ul .velo:hover {
  background: #f6861f;
}
.header .header_up .up .list ul .velo:hover a {
  color: #fff;
}
.header .header_up .up .list ul .velo a {
  color: #f6861f;
  font-family: "Rokkitt", serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
  cursor: pointer;
}
.header .header_up .up .language {
  width: 40%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.header .header_up .up .language .call_fast {
  width: 25%;
  height: 24px;
  border-right: 1px solid #ecedf0;
}
.header .header_up .up .language .call_fast a img {
  width: 70%;
}
.header .header_up .up .language .choose_language {
  width: 40%;
  height: 24px;
  border-right: 1px solid #ecedf0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.header .header_up .up .language .choose_language:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_up .up .language .choose_language .flag {
  width: 16%;
  height: 24px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_up .up .language .choose_language .flag img {
  width: 100%;
}
.header .header_up .up .language .choose_language p {
  color: #212529;
  font-size: 15px;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  line-height: 1.5;
  margin-right: 12px;
  position: relative;
}
.header .header_up .up .language .choose_language p .fa-angle-down {
  position: relative;
  top: 2px;
  left: 6px;
}
.header .header_up .up .language .choose_language .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #e1e2e7;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s all ease-in-out;
  margin-top: 80px;
  right: 8px;
}
.header .header_up .up .language .choose_language .dropdown-content p {
  color: #212529;
  font-size: 15px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
}
.header .header_up .up .language .personal_cabinet {
  width: 23%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_up .up .language .personal_cabinet a {
  color: #212529;
  font-size: 15px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}
.header .header_up .up .language .personal_cabinet a .fa-user {
  position: relative;
  top: 1px;
  right: 6px;
}
.header .header_down {
  width: 100%;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_down .down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .header_down .down .logo {
  width: 15%;
  height: 49px;
}
.header .header_down .down .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_down .down .logo a img {
  width: 60%;
}
.header .header_down .down .catalog {
  width: 5%;
  height: 50px;
  border: 1px solid #40b659;
  border-radius: 0.8rem;
  background: #40b659;
}
.header .header_down .down .catalog .hamburger_menu #menu_toggle {
  opacity: 0;
}
.header .header_down .down .catalog .hamburger_menu #menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}
.header .header_down .down .catalog .hamburger_menu #menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
.header .header_down .down .catalog .hamburger_menu #menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header .header_down .down .catalog .hamburger_menu #menu_toggle:checked ~ .menu_box {
  left: 207px !important;
}
.header .header_down .down .catalog .hamburger_menu .menu_btn {
  position: absolute;
  top: 123px;
  left: 398px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .header_down .down .catalog .hamburger_menu .menu_btn span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition-duration: 0.25s;
}
.header .header_down .down .catalog .hamburger_menu .menu_btn span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
  top: -8px;
  background: #fff;
  transition-duration: 0.25s;
}
.header .header_down .down .catalog .hamburger_menu .menu_btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition-duration: 0.25s;
  content: "";
  top: 8px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box {
  display: block;
  position: absolute;
  z-index: 999;
  top: 151px;
  left: -100%;
  width: 506px;
  margin: 0;
  padding: 35px 32px;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item {
  margin-top: 15px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  display: flex;
  gap: 15px;
  position: relative;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList2 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList3 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList4 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList5 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList6 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList7 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList8 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList9 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList10 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover .dropdownList11 {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -51px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList .dropdown_app {
  width: 24%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList .airPods_list {
  width: 24%;
  height: 1150px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -99px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 .dropdown_app {
  width: 24%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 .airPods_list {
  width: 24%;
  height: 1150px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList2 .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -147px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 .dropdown_app {
  width: 24%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 .airPods_list {
  width: 24%;
  height: 1150px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList3 .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -195px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 .dropdown_app {
  width: 24%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 .airPods_list {
  width: 24%;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList4 .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -243px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 .dropdown_app {
  width: 24%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 .airPods_list {
  width: 24%;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList5 .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -291px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 .dropdown_app {
  width: 24%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 .airPods_list {
  width: 24%;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList6 .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -339px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: scroll;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 .dropdown_app {
  width: 27%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 .aksesuar_mobil {
  width: 24%;
  height: 740px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 .airPods_list {
  width: 24%;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList7 .othersList {
  width: 24%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -387px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 .dropdown_app {
  width: 27%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 .aksesuar_mobil {
  width: 24%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList8 .airPods_list {
  width: 24%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -435px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList9 .dropdown_app {
  width: 27%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -483px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 .dropdown_app {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList10 .aksesuar_mobil {
  width: 35%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 {
  width: 750px;
  height: 599px;
  position: absolute;
  top: -531px;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-left: 474px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  display: flex;
  gap: 30px;
  padding: 40px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 a h3 {
  font-family: "Rokkitt", serif;
  color: #18181a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 ul li {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 ul li:hover ::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 ul li a {
  color: #5b5f66;
  font-weight: 400;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 ul li a:hover {
  color: red;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .dropdownList11 .dropdown_app {
  width: 27%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item:hover {
  color: #f6861f;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item span {
  color: #18181a;
  font-size: 22px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 15px;
  transition: 0.2s all ease-in-out;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item span:hover {
  color: #f6861f;
  font-weight: 500;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .androinPhone {
  width: 24px;
  height: 24px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_down .down .catalog .hamburger_menu .menu_box .menu_item .androinPhone img {
  width: 100%;
}
.header .header_down .down .form {
  position: relative;
  width: 35%;
  height: 50px;
}
.header .header_down .down .form form input {
  width: 100%;
  height: 50px;
  background: #f9f9f9;
  outline: none;
  border: 1px solid #dadbdd;
  border-radius: 0.8rem;
  padding: 1.4rem 2rem;
}
.header .header_down .down .form form input::-moz-placeholder {
  font-size: 16px;
  font-family: "Rokkitt", serif;
  line-height: 1.5;
}
.header .header_down .down .form form input:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Rokkitt", serif;
  line-height: 1.5;
}
.header .header_down .down .form form input::placeholder {
  font-size: 16px;
  font-family: "Rokkitt", serif;
  line-height: 1.5;
}
.header .header_down .down .form a {
  position: relative;
  left: 340px;
  bottom: 33px;
  border-left: 1px solid #e1e2e7;
}
.header .header_down .down .form a .fa-magnifying-glass {
  color: #95979c;
  margin-left: 13px;
}
.header .header_down .down .equality {
  width: 8%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .equality:hover a .fa-binoculars {
  color: #f6861f;
}
.header .header_down .down .equality:hover a span {
  color: #f6861f;
}
.header .header_down .down .equality a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .equality a .fa-binoculars {
  color: #232d40;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .equality a span {
  color: #212529;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .liked {
  width: 8%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .liked:hover a .fa-heart {
  color: #f6861f;
}
.header .header_down .down .liked:hover a span {
  color: #f6861f;
}
.header .header_down .down .liked a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  transition: 0.4s all ease-in-out;
  position: relative;
}
.header .header_down .down .liked a .fa-heart {
  color: red;
  transition: 0.3s all ease-in-out;
}
.header .header_down .down .liked a small {
  width: 15px;
  height: 15px;
  border: 1px solid #f6861f;
  border-radius: 50%;
  background: #f6861f;
  color: white;
  font-size: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  left: 34px;
}
.header .header_down .down .liked a span {
  color: #212529;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .addTo_cart {
  width: 8%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .addTo_cart:hover a .fa-cart-shopping {
  color: #f6861f;
}
.header .header_down .down .addTo_cart:hover a span {
  color: #f6861f;
}
.header .header_down .down .addTo_cart a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .addTo_cart a .fa-cart-shopping {
  color: green;
  transition: 0.4s all ease-in-out;
  position: relative;
}
.header .header_down .down .addTo_cart a .fa-cart-shopping small {
  width: 15px;
  height: 15px;
  border: 1px solid #f6861f;
  border-radius: 50%;
  background: #f6861f;
  color: white;
  font-size: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 11px;
  left: 9px;
}
.header .header_down .down .addTo_cart a span {
  color: #212529;
  transition: 0.4s all ease-in-out;
}
.header .header_down .down .mothly {
  width: 12%;
  height: 77px;
  border: 1px solid #40b659;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.header .header_down .down .mothly:hover {
  background: #40b659;
}
.header .header_down .down .mothly:hover .fa-hand-holding-dollar {
  color: #fff;
}
.header .header_down .down .mothly:hover span {
  color: #fff;
}
.header .header_down .down .mothly .fa-hand-holding-dollar {
  color: #40b659;
  font-size: 20px;
}
.header .header_down .down .mothly span {
  color: #40b659;
  font-size: 18px;
  font-family: "Rokkitt", serif;
  line-height: 1.5;
  font-weight: 600;
}

.question {
  width: 100%;
  height: 1000px;
  margin-top: 50px;
}
.question .questionCon h2 {
  width: 100%;
  height: 40px;
  font-family: "Rokkitt", serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
}
.question .questionCon .question_box {
  width: 80%;
  height: 900px;
  margin: auto;
  margin-top: 30px;
}
.question .questionCon .question_box .list_box {
  width: 100%;
  height: 52px;
  display: flex;
  gap: 15px;
}
.question .questionCon .question_box .list_box .question_list {
  width: 22%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fb;
  border: 1px solid #f8f9fb;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.question .questionCon .question_box .list_box .question_list:hover {
  background: #f6861f;
}
.question .questionCon .question_box .list_box .question_list:hover p {
  color: white;
  font-weight: 500;
}
.question .questionCon .question_box .list_box .question_list p {
  font-family: "Rokkitt", serif;
  font-size: 20px;
  color: #5b5f66;
  font-weight: 600;
  line-height: 1.2;
}
.question .questionCon .question_box .list_box .question_list.color {
  background: #f6861f;
}
.question .questionCon .question_box .list_box .question_list.color p {
  color: white;
  font-weight: 500;
}
.question .questionCon .question_box .info_question {
  width: 100%;
  height: 800px;
  margin-top: 40px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs .iconQuestion {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs .iconQuestion h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs .iconQuestion .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs .iconQuestion .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs .text_question {
  width: 90%;
  height: 170px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs .text_question p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs4 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs4 .iconQuestion4 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs4 .iconQuestion4 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs4 .iconQuestion4 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs4 .iconQuestion4 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs4 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs4 .text_question4 {
  width: 90%;
  height: 170px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs4 .text_question4 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs4 .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs2 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs2 .iconQuestion2 {
  width: 100%;
  height: 30px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs2 .iconQuestion2 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs2 .iconQuestion2 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs2 .iconQuestion2 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs2 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs2 .text_question2 {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs2 .text_question2 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs2 .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs6 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs6 .iconQuestion6 {
  width: 100%;
  height: 30px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs6 .iconQuestion6 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs6 .iconQuestion6 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs6 .iconQuestion6 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs6 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs6 .text_question6 {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs6 .text_question6 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs6 .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs7 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs7 .iconQuestion7 {
  width: 100%;
  height: 30px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs7 .iconQuestion7 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs7 .iconQuestion7 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs7 .iconQuestion7 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs7 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs7 .text_question7 {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs7 .text_question7 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs7 .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs8 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs8 .iconQuestion8 {
  width: 100%;
  height: 30px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs8 .iconQuestion8 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs8 .iconQuestion8 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs8 .iconQuestion8 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs8 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs8 .text_question8 {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs8 .text_question8 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs8 .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs3 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs3 .iconQuestion3 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs3 .iconQuestion3 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs3 .iconQuestion3 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs3 .iconQuestion3 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs3 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs3 .text_question3 {
  width: 90%;
  height: 220px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs3 .text_question3 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs3 .list {
  display: block;
}
.question .questionCon .question_box .info_question .questionBoxs5 {
  width: 100%;
  height: 85.2px;
  border: 1px solid #e3e5eb;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs5 .iconQuestion5 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question .questionCon .question_box .info_question .questionBoxs5 .iconQuestion5 h5 {
  width: 80%;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 1.5;
}
.question .questionCon .question_box .info_question .questionBoxs5 .iconQuestion5 .fa-angle-down {
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs5 .iconQuestion5 .down {
  transform: rotate(180deg);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}
.question .questionCon .question_box .info_question .questionBoxs5 .iconMG {
  margin-top: 20px;
}
.question .questionCon .question_box .info_question .questionBoxs5 .text_question5 {
  width: 90%;
  height: 220px;
  margin-top: 20px;
  display: none;
}
.question .questionCon .question_box .info_question .questionBoxs5 .text_question5 p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}
.question .questionCon .question_box .info_question .questionBoxs5 .list {
  display: block;
}
.question .questionCon .question_box .info_question .height {
  height: 250px;
}
.question .questionCon .question_box .info_question .height2 {
  height: 200px;
}
.question .questionCon .question_box .info_question .height3 {
  height: 310px;
}
.question .questionCon .question_box .info_question .colorBorder {
  border-color: orange;
}
.question .questionCon .question_box .info_question.is-active {
  display: block;
}

.footer {
  width: 100%;
  height: 623px;
  background: #18181a;
  margin-top: 50px;
}
.footer .line {
  width: 100%;
  height: 8px;
  background: #40b659;
  position: relative;
}
.footer .footer_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer .footer_list .footerComunication {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 80px;
}
.footer .footer_list .footerComunication h4 {
  color: #f8f8f8;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
}
.footer .footer_list .footerComunication ul {
  margin-top: 18px;
}
.footer .footer_list .footerComunication ul li {
  margin-top: 10px;
}
.footer .footer_list .footerComunication ul li a {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
}
.footer .footer_list .footerComunication ul li a::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 0;
  background: #f6861f;
  left: 0;
  bottom: -10px;
  transition: 0.3s all ease-in-out;
}
.footer .footer_list .footerComunication ul li a:hover::after {
  width: 100%;
}
.footer .footer_list .footerComunication .footerLogo {
  width: 15%;
  height: 352px;
}
.footer .footer_list .footerComunication .footerLogo .logo_irshad {
  width: 50%;
  height: 40px;
}
.footer .footer_list .footerComunication .footerLogo .logo_irshad img {
  width: 100%;
}
.footer .footer_list .footerComunication .footerBusiness {
  width: 22%;
  height: 352px;
}
.footer .footer_list .footerComunication .footerCustomer {
  width: 24%;
  height: 352px;
}
.footer .footer_list .footerComunication .footerContact {
  width: 32%;
  height: 352px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer_list .footerComunication .footerContact .footerLocation {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.footer .footer_list .footerComunication .footerContact .footerLocation .footerCall {
  width: 44%;
  height: 28px;
}
.footer .footer_list .footerComunication .footerContact .footerLocation .footerCall img {
  width: 100%;
}
.footer .footer_list .footerComunication .footerContact .footerLocation .footerHome {
  width: 22%;
  height: 45px;
  border: 1px solid #585858;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_list .footerComunication .footerContact .footerLocation .footerHome .fa-house {
  color: #fff;
  font-size: 16px;
}
.footer .footer_list .footerComunication .footerContact .footerLocation p {
  font-family: "Rokkitt", serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.footer .footer_list .footerComunication .footerContact .footerSocial {
  width: 100%;
  height: 86px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial h5 {
  font-family: "Rokkitt", serif;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 15px;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-facebook {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-instagram {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-youtube {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-telegram {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-whatsapp {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-youtube {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-twitter {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a:hover .fa-tiktok {
  color: #fff;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-facebook {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-instagram {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-youtube {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-linkedin {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-twitter {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-tiktok {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-whatsapp {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerComunication .footerContact .footerSocial .iconFooter a .fa-telegram {
  color: #c2c5ca;
  font-size: 22px;
}
.footer .footer_list .footerPreview {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer_list .footerPreview .endOFFooter {
  width: 40%;
  height: 22px;
}
.footer .footer_list .footerPreview .endOFFooter p {
  color: #95979c;
  font-size: 16px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  line-height: 1.2;
}
.footer .footer_list .footerPreview .footerImgLogo {
  width: 40%;
  height: 25px;
}
.footer .footer_list .footerPreview .footerImgLogo p {
  color: #95979c;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.footer .footer_list .footerPreview .footerImgLogo p a {
  color: #fff;
  font-size: 18px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
}
.footer .footer_list .footerPreview .footerImgLogo p .jis {
  width: 19px;
  height: 18px;
}
.footer .footer_list .footerPreview .footerImgLogo p .jis img {
  width: 100%;
}/*# sourceMappingURL=question.css.map */